*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: rgb(41, 102, 62);
  font-size: 25px;
  text-align: center;
  color: yellow;
}

.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

div {
  background-color: rgb(193, 115, 133);
  border: 1px solid white;
  float: left;
  width: 200px;
  height: 200px;
  padding: 50px;
}
